version: '3.4'
networks:
  neo4j-network:
    driver: bridge

services:
  gathermesuggestionms:
    image: gathermesuggestionms
    build:
      context: .
      dockerfile: gatherme-suggestion-ms/Dockerfile
    networks: 
      - neo4j-network
    ports:
      - "80:80"

  gatherme-suggestion-db:
    image: neo4j:4.0.0
    networks: 
      - neo4j-network
    ports: 
      - "7474:7474"
      - "7687:7687"
    environment: 
      NEO4J_AUTH: neo4j/admin
    restart: always
    tty: true
    #command: rm -rf data/ 
